$alto-header: 150px;
$alto-footer: 25px;
$alto-body: calc( 100vh - $alto-header - $alto-footer);

$color-principal-50: #eee6ff;
$color-principal-100: #d2c2fd;
$color-principal-200: #e98df5;
$color-principal-300: #df55f2;
$color-principal-400: #d602ee;
$color-principal-500: #cd00ea;
$color-principal-600: #ba00e5;
$color-principal-700: #a200e0;
$color-principal-800: #8b00dd;
$color-principal-900: #5c00d2;

$color-acento-50: #e9e9ff;
$color-acento-100: #c6c7fe;
$color-acento-200: #9ea3fe;
$color-acento-300: #707eff;
$color-acento-400: #495ffe;
$color-acento-500: #093ffa;
$color-acento-600: #0235ee;
$color-acento-700: #0028e1;
$color-acento-800: #0018d7;
$color-acento-900: #0000c8;

$color-error: red;

$color-fondo: white;
$color-texto: rgb(36, 36, 36);
$color-texto-invertido: rgb(254, 254, 254);