<div class="container">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <h2>{{contacto.id ? "Editar contacto" : "Nuevo contacto"}}</h2>
        <div class="input">
            <label for="">Nombre</label>
            <input type="text" [(ngModel)]="contacto.name" [(ngModel)]="contacto.name" name="nombre">
        </div>
        <div class="input">
            <label for="">Apellido</label>
            <input type="text" [(ngModel)]="contacto.lastName" name="apellido">
        </div>
        <div class="input">
            <label for="">Dirección</label>
            <input type="text" [(ngModel)]="contacto.address" name="direccion">
        </div>
        <div class="input">
            <label for="">Numero telefono</label>
            <input type="text" [(ngModel)]="contacto.number" name="telefono">
        </div>
        <div class="input">
            <label for="">Empresa</label>
            <input type="text" [(ngModel)]="contacto.company" name="empresa">
        </div>
        <div class="input">
            <label for="">Email</label>
            <input type="email" name="email" [(ngModel)]="contacto.email">
        </div>
        <div class="input">
            <label for="">Foto</label>
            <input type="text" [(ngModel)]="contacto.image" name="img"> 
        </div>
        <div class="boton">
            <button id="especial" type="submit">{{contacto.id ? "Editar" : "Crear"}}</button>
            <button id="cerrar" type="button" style="background-color: rgb(163, 163, 163);" (click)="cerrar.emit()">Cancelar</button>
        </div>
    </form>
</div>
