@use "./../../../assets/style/variables.scss";

.fab{
    position: fixed;
    bottom: 40px;
    right: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: xx-large;
    background-color: variables.$color-acento-600;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

dialog{
    border: none;
    border-radius: 25px;
}