
<div id="ubi">
    <div class="container">
        <form #loginForm="ngForm" (ngSubmit)="login()">
            <input type="text" placeholder="Usuario" name="user" id="user" ngModel>
            <input type="password" name="password" id="password" placeholder="Contraseña" autocomplete="current-password" required minlength="8" ngModel>
            <button type="submit" [routerLink]="['/contacts']" routerLinkActive="router-link-active">Iniciar sesión</button>
        </form>
        <div id="sin-cuenta">
            <p>¿No tienes cuenta?
                <a [routerLink]="['/register']" routerLinkActive="router-link-active">Registrate</a>
            </p>
        </div>
    </div>
</div>