@use './../../../assets/style/variables.scss';


#ubi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: variables.$alto-body;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 65%;
    min-height: 65%;
    background-color: #ffffff;
    border-radius: 50px;
}

#ubi-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    min-height: 100%;
    border-radius: 50px 0 0 50px;
    gap: 20px;
    background-color: variables.$color-principal-300;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#ingreso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    input{
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: none;
        padding: 0 10px;
        font-size: 1.1rem;
    }
}


button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: variables.$color-acento-200;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: variables.$color-principal-900;
    color: #fff;
}

#sin-cuenta{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.1rem;
    }
    a:hover{
        color: #fff
    }
}

img{
    height: 350px;
    display: flex;
    align-items: center;
}