div{
    min-height: 100vh;
    background-image: url("./../assets/image/1301340.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
}

app-footer{
    margin-top: auto;
}