<div id="ubi">
    <div id="container">
        <img src="./../../../assets/image/Designer.png" alt="">
        <div id="ubi-form">
            <h1>NUEVO USUSARIO</h1>
            <form #registerForm="ngForm" (ngSubmit)="register()">
                <div id="ingreso">
                    <input type="text" [(ngModel)]="registerData.UserName" name="UserName" #UserName="ngModel" placeholder="Ususario">
                </div>
                <div id="ingreso">
                    <input type="email" [(ngModel)]="registerData.Email" name="Email" #Email="ngModel" placeholder="Email">
                </div>
                <div id="ingreso">
                    <input type="password" [(ngModel)]="registerData.Password" name="Password" #Password="ngModel" placeholder="Contraseña">
                </div>
                <button type="submit">Registrarse</button>
            </form>
            <div id="sin-cuenta">
                <p>¿Ya tienes cuenta? - <a [routerLink]="['/login']">Inicia sesión</a></p>
            </div>
        </div>
    </div>
</div>