<div class="container">
  <div class="container-chico">
      <div id="top">
        <app-icono-contacto [contacto]="contacto"></app-icono-contacto>
        <h1>{{contacto.nombre}} {{contacto.apellido}}</h1>
      </div>
      <h2>Datos de contacto</h2>
      <ul>
        <li>
          <img src="./../../../assets/image/pngegg (10).png" alt="Email">
          <p>{{contacto.email}}</p>
        </li>
        <li>
          <img src="./../../../assets/image/pngegg (9).png" alt="Teléfono">
          <p>{{contacto.telefono}}</p>
        </li>
        <li>
          <img src="./../../../assets/image/pngegg (8).png" alt="Dirección">
          <p>{{contacto.direccion}}</p>
        </li>
        </ul>
        <div class="boton">
          <button (click)="modalEditar.showModal()" style="background-color: rgb(27, 80, 253);">Editar</button>
          <button (click)="borrarContacto()" style="background-color: rgb(163, 163, 163);">Borrar</button>
        </div>
          <dialog method="modal" #modalEditar>
          <app-nuevo-contacto (cerrar)="modalEditar.close()" [contacto]="contacto"></app-nuevo-contacto>
        </dialog> 
  </div>
</div>